<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">All the crazy tweets</h1>
            
            <%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary mb-2" %>
        
            
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Message</th>
                        <th>User</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                
                <tbody>
                    <% @tweets.each do |tweet| %>
                    <tr>
                        <td><%= tweet.message %></td>
                        <td><%= tweet.user.try(:username) %></td>
                        <td><%= link_to fa_icon('eye', text: 'Show'),
                            tweet, class: "btn btn-secondary" %></td>
                        <td><%= link_to fa_icon('pencil', text: 'Edit'),
                            tweet, class: "btn btn-secondary" %></td>
                        <td><%= link_to fa_icon('trash-o', text: 'Destroy'),
                            tweet, method: :delete, data: {confirm: 'Are you sure?'},
                            class: "btn btn-secondary" %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>